global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - /etc/prometheus/alerting_rules.yml
  - /etc/prometheus/recording_rules.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'demo'
    static_configs:
      - targets: ['demo-service:8081']

  - job_name: 'cpu-exporter'
    static_configs:
      - targets: ['cpu-exporter:8000']
